* {
	font-family: FiraCode Nerd Font;
  font-weight: bold;
 	font-size: 15;
	padding: 1;
}

window#waybar {
  background: rgba(29, 32, 33, 1);
  color: #fbf1c7;
}

tooltip {
	color: #fbf1c7;
	background-color: rgba(40, 40, 40, 1);
  border: 2 solid #1d2021; 
}

#custom-arch {
	background-color: rgba(40, 40, 40, 1);
  border-radius: 2;
  border-left: 5px solid #458588;
  padding: 3 6;
  margin: 3 0 3 4;
}

#workspaces button {
	color: #458588;
}

#workspaces button.active {
	color: #fabd2f;
}

#workspaces button.empty {
	color: #a89984;
}

#cpu,
#temperature,
#memory {
	color: #fabd2f;
}

#pulseaudio{
	color: #fb4934;
}

#battery{
	color: #b16286;
}

#bluetooth{
	color: #458588;
}
#clock {
  color: #689d6a;
}

#tray,
#cpu,
#temperature,
#memory,
#pulseaudio,
#battery,
#network,
#bluetooth {
	margin-right: 4;
}
